<li [ngClass]= "{'list-group-item': true,
'list-group-item-success': isStatusAllume(),
'list-group-item-danger': !isStatusAllume()}">

    <h4 [ngStyle]="{color: getColor()}"> Appareil : {{appareilName}} -- Statut : {{ getStatus() }} </h4>
    <a [routerLink]="[id]">Détails</a>
    <button class="btn btn-success" 
    [disabled]="isStatusAllume()" 
    (click)="switchOn()">Allumer</button>
  <button class="btn btn-danger" 
    [disabled]="!isStatusAllume()" 
    (click)="switchOff()">Eteindre</button>
</li>